html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

/* Your Styles */
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  display: inline-flex;
  margin-bottom: 8px;
  border-bottom: 1px solid #000;
  width: auto;
}
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.form-group input {
  margin-left: 16px;
  padding: 4px 8px;
  outline: none;
  background-color: lightblue;
  color: black;
}

.btn {
  padding: 8px 16px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  outline: none;
}

form > .btn-submit {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}
